.modal {
  position: fixed;
  margin-left: -100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.modal-content {
  border-radius: 5px;
  width: 500px;
  background-color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header span {
  display: flex;
  align-content: flex-end;
  width: 50px;
}

.modal-header span h3 {
  color: rgba(0, 0, 0, 0.8);
}

.modal-header button#btn-close {
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-right: -3px;
  background-color: #ef476f;
  text-align: center;
  align-content: center;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
