* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  border: 0;
}

body,
input,
button,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

div#app {
  height: 100%;
}
